<!DOCTYPE html>
<html>
	<head>
	<title>{block #title}Title{/block} - My Web</title>
	<meta charset="UTF-8" />
	</head>
	
	<body>
		<a href="#">On Homepage</a>
		
		<hr>
		
		{block #content}{/block}
		
		<hr>
		<p>Copyright &copy; MyCopyright, {date('Y')}
	</body>
</html>
