{var $hideHpLink = TRUE}

{block #content}
<h1 n:block="title">WebGen 2.0 - Example</h1>

{texy}
**Hello!** :)

* "Article #1 (with own layout template)":@articles/article-1.html
* "Article #2":@articles/article-2.html
* "Article #3 (multi level layout template)":@articles/article-3.html
{/texy}

