{var $hideHpLink = TRUE}
{var $myVar = 'my value 1'}

{block #content}
<h1 n:block="title">WebGen 2.1 - Example - Texy in Latte template</h1>

{texy}
**Hello!** :)

Lorem ipsum
###########

Lorem ipsum dolor sit amet.

"About":@about.html

{/texy}

