<!DOCTYPE html>
<html lang="cs">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<!-- <link rel="stylesheet" media="screen,projection,tv" href="{$baseDir}/css/screen.css" type="text/css"> -->
	<style type="text/css">
	body {
		font-family: Arial, sans-serif;
		font-size: 90%;
		line-height: 1.6em;
		margin: 0;
		padding: 0;
		border-top: 8px solid #333;
	}

	#wrapper {
		max-width: 1024px;
		margin: 0 auto;
		padding: 1em;
	}

	h1 {
		color: #444;
	}

	hr {
		border-width: 0;
		border-top: 1px solid #444;
	}

	a:link {
		color: #0044aa;
	}

	a:visited {
		color: #00255c;
	}

	a:hover {
		color: #d22;
	}
	</style>

	<title>{ifset #title}{include #title |striptags|strip|trim} :: {/ifset} My Example Page</title>
	{* OR <title>{block #title}{/block} :: My Example Page *}
</head>
<body>
	<div id="wrapper">
		<a href=".." n:if="!isset($hideHpLink)">Back To Homepage</a>

		{include #content}

		{include 'input/@list.latte'}

		<hr>
		Author: <a href="http://janpecha.iunas.cz/">Jan Pecha</a>, {date('Y')}
	</div>
</body>
</html>
