
{block #content}
<h1 n:block="title">WebGen 2.1 - Example - External libs</h1>

<p>External libs: {MyExternalLibrary::hello()}</p>

<p>External items:</p>
<ul>
	<li n:foreach="MyExternalLibrary::getItems() as $item">{$item}</li>
</ul>

<p>Function (see <code>libs/autoload.php</code>): {sayHello()}</p>

<p>You can use <a href="http://getcomposer.org">Composer</a> too.</p>

<p>Output of `CzProject\Arrays::flatten()`:</p>

<ul>
	{var $items = CzProject\Arrays::flatten([
		'value 1',
		'values' => [
			'value 2-1',
			'value 2-2',
			'value 2-3',
		],
		'value 3',
	])}
	<li n:foreach="$items as $item">{$item}</li>
</ul>
