#
# This is default configuration.
#
# Visit http://ne-on.org/ for syntax details.
#
# Config file is optional.
#

input:
	layout: '@layout.latte'  # template with layout
	dir: input   # directory with source files
	copy: off


output:
	dir: output  # output directory
	ext: html    # output files extension
	xhtml: no    # enables or disables XHTML output
	purge: off   # purge output directory before generating?
	onedir: yes  # disables incremental generating
	lastBuildInfo: NULL # generate last build info file?


extensions:
	# enable syntax highlighter via FSHL (in Texy & Latte)
	syntaxHighlighter: off

	# enable highlighter between <?php ?> (in Texy)
	syntaxHighlighterPhpBlock: off

	# enable highlighter between <script></script> (in Texy)
	syntaxHighlighterScriptBlock: off


variables:
	baseDir: ''
